<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="join">

	<select id="joinIdCheck"  resultType="java.lang.Integer" parameterType="JoinVo">
			SELECT 
				COUNT(*) 
			FROM USER_INFO 
			WHERE UID = #{uid}
			AND KAKAO_CHECK = #{kakaoCheck}
	</select>



	<insert id="joinInsert" parameterType="JoinVo">
			INSERT 
				INTO 
			USER_INFO
			 	(
				 	 uid
				 	,pw
				 	,email
				 	,img
				 	,tel
				 	,kakao_check
				 	,created
			 	)
			VALUES
				(
					#{uid}
					,#{pw}
					,#{email}
					,#{file}
					,#{tel}
					,#{kakaoCheck}
					,now()
				)
	</insert>

</mapper>