<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="userBoard">

<select id="list"  resultType="UserBoardVo" parameterType="UserBoardVo">
SELECT board_num, title, contents, user_id, file, cotegory, cnt, created FROM USER_BOARD LIMIT #{queryFirstStart}, #{displayContentNum}
</select>

<select id="listCnt" resultType="java.lang.Integer" parameterType="UserBoardVo">
SELECT COUNT(*) FROM USER_BOARD
</select>

<insert id="insert" parameterType="UserBoardVo">

</insert>

<select id="read"  resultType="UserBoardVo" parameterType="java.lang.Integer">

</select>

<update id="update" parameterType="UserBoardVo"> 

</update>

<delete id="delete" parameterType="UserBoardVo">

</delete>

</mapper>